Week5/meischema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name = "song">
      <xs:complexType>
        <xs:sequence>
			<xs:element name = "artist-name" type = "xs:string" />
			<xs:element name = "song-title" type = "xs:string" />
			<xs:element name = "genre" type = "xs:string" />
			<xs:element name = "release-date" type = "xs:int" />
			<xs:element name = "album" type = "xs:string" />
      <xs:element name = "producer" type = "xs:string" />
	</xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
